/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Fylo landing page with two column layout */

:root {
    --primary-color: hsl(243, 87%, 12%);
    --secondary-color: hsl(238, 22%, 44%);
    --bg-btn-color: hsl(224, 93%, 58%);
    --anchor-color: hsl(170, 45%, 43%);
    --white-color: hsl(240, 75%, 98%);
    --light-color: hsl(0, 0%, 75%);
}

body {
    font-family: 'Open-sans', sans-serif;
    font-weight: 400;
    color: var(--primary-color);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    margin: 1em;
}

header {
    width: 100%;

    display: flex;
    justify-content: space-between;

    margin: 1em;
}

header img {
    width: 6.5em;
    height: 2em;
}

header nav ul {
    height: 100%;
    display: flex;
    align-items: center;
}

header nav ul li {
    padding: 0 0.5em;
}

header nav ul li:hover {
    margin-bottom: 0.3em;
    transition: 0.2s;
    cursor: pointer;
}

header nav ul a {
    font-size: 1em;
    text-decoration: none;
}

section {
    display: flex;
    flex-direction: column-reverse;
}


section .container-img {
    margin: 4em 1em 0 1em;
}

section .container-img img {
    width: 100%;
}

section .container-content h1 {
    font-weight: 700;
    font-size: 1.5em;
    padding: 1em 0;
}

section .container-content p {
    padding: 1em;
    color: var(--secondary-color);
}

section .container-content .input-group {
    display: flex;
    flex-direction: column;
    margin: 1em;
}

.input-group input,
.input-group button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    padding: 0.8em;
    border: 0;
    border-radius: 0.2em;
    color: var(--white-color);
}

.input-group input {
    border: 1px solid var(--secondary-color);
}

.input-group button {
    margin-top: 1em;
    background-color: var(--bg-btn-color);
    color: var(--white-color);
}

section .container-content h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1em;
    margin: 4em 1em 1em;
}

section:nth-child(2) .container-content p { 
    padding: 0.5em 0;
    text-align: start;
}

section .container-content .container-nav {
    margin: 3em 2em 4em 2em;
}
section .container-content .container-nav a { 
    padding-bottom: 0.4em;
    border-bottom: 2px solid var(--anchor-color);
    text-decoration: none;
    color: var(--anchor-color);
}
section .container-content .container-nav img { 
    width: 20px;
    vertical-align: middle;
    padding-bottom: 2px;
}

section article {
    margin: 1.5em;
    padding: 1.5em;
    
    display: flex;
    flex-direction: column;
    text-align: start;
    
    border-radius: 5px;
    box-shadow: 0px 0px 15px 5px var(--light-color);
    font-weight: 600;
    font-size: 0.8em;
    line-height: 1.5em;
}

section article .card-profile {
    display: flex;
    align-items: flex-end;
    margin-top: 0.5em;
}

section article .card-profile h4 {
    font-weight: 700;
    margin-bottom: 0.2em;
}

section article .card-profile h5 {
    font-size: 0.7em;
}

section article .card-profile .card-img {
    padding-right: 0.8em;
    width: 13%;
}

section article .card-profile .card-img img { 
    width: 100%;
    border-radius: 100%;
}