/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Fylo landing page with two column layout */

:root {
    --primary-color: hsl(243, 87%, 12%);
    --secondary-color: hsl(238, 22%, 44%);
    --bg-btn-color: hsl(224, 93%, 58%);
    --anchor-color: hsl(170, 45%, 43%);
    --white-color: hsl(240, 75%, 98%);
    --light-color: hsl(0, 0%, 75%);
}

body {
    font-family: 'Open-sans', sans-serif;
    font-weight: 400;
    color: var(--primary-color);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

}

header {
    width: 100%;
}

header div {

    display: flex;
    justify-content: space-between;

    margin: 1em;
}

header img {
    width: 6.5em;
    height: 2em;
}

header nav ul {
    height: 100%;
    display: flex;
    align-items: center;
}

header nav ul li {
    padding: 0 0.5em;
}

header nav ul li:hover {
    margin-bottom: 0.3em;
    transition: 0.2s;
    cursor: pointer;
}

header nav ul a {
    font-size: 1em;
    text-decoration: none;
}
header nav ul a:active {
    color: var(--primary-color);
}

section {
    display: flex;
    flex-direction: column-reverse;

    margin: 1em;
}

section .container-img {
    margin: 4em 1em 0 1em;
}

section .container-img img {
    width: 100%;
    max-width: 420px;
}

section .container-content h1 {
    font-weight: 700;
    font-size: 1.5em;
    padding: 1em 0;
}

section .container-content>p {
    padding: 1em;
    color: var(--secondary-color);
}

.input-group {
    display: flex;
    flex-direction: column;
    margin: 1em;
}

.input-group input,
.input-group button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    padding: 0.8em;
    border: 0;
    border-radius: 0.2em;
}

.input-group input {
    border: 1px solid var(--secondary-color);
    outline: initial;
    box-sizing: border-box;
    width: 100%;
}

.input-group .input-email {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input-group .input-email p.alert-invalid {
    font-size: 0.7em;
    padding-top: 0.5em;
    color: var(--white-color);
    opacity: 0;
}

section:nth-child(1) .input-group .input-email p.alert-invalid {
    color: red;
}

.input-group .input-email input:invalid+p.alert-invalid {
    opacity: 1;
}

.input-group input:invalid {
    border: 1px solid red;
}

.input-group button {
    cursor: pointer;
    margin-top: 0.5em;
    background-color: var(--bg-btn-color);
    color: var(--white-color);
    box-shadow: 1px 1px 4px 1px var(--ligth-color);
}

.input-group button:hover {
    background-color: hsla(224, 93%, 58%, 90%);
    transition: 0.3s;
}

section .container-content h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1em;
    margin: 4em 1em 1em;
}

section:nth-child(2) .container-content p {
    padding: 0.5em 0;
    text-align: start;
}

section .container-content .container-nav {
    margin: 3em 2em 4em 2em;
}

section .container-content .container-nav a {
    padding-bottom: 0.4em;
    border-bottom: 2px solid var(--anchor-color);
    text-decoration: none;
    color: var(--anchor-color);
}

section .container-content .container-nav a:hover {
    opacity: 80%;
    transition: 0.3s;
}

section .container-content .container-nav img {
    width: 20px;
    vertical-align: middle;
    padding-bottom: 2px;
}

section article {
    margin: 1.5em 1.5em 6em 1.5em;
    padding: 1.5em;

    display: flex;
    flex-direction: column;
    text-align: start;

    border-radius: 5px;
    box-shadow: 0px 0px 15px 5px var(--light-color);
    font-size: 0.8em;
    line-height: 1.5em;
}

section article .card-profile {
    display: flex;
    align-items: flex-end;
    margin-top: 0.5em;
}

section article .card-profile h4 {
    font-weight: 700;
    margin-bottom: 0.2em;
}

section article .card-profile h5 {
    font-size: 0.7em;
}

section article .card-profile .card-img {
    padding-right: 0.8em;
    width: 13%;
}

section article .card-profile .card-img img {
    width: 100%;
    border-radius: 100%;
}

section:nth-child(3) {
    flex-direction: column;
    margin: 0;
    background-color: var(--secondary-color);
}

section:nth-child(3) .input-group {
    margin: 1em 4em 4em 4em;
}

section:nth-child(3)>div {
    margin: 4em 2em 0 2em;
}

section:nth-child(3) .container-text h2 {
    color: var(--white-color);
    font-weight: 700;
    padding: 1em;
}

section:nth-child(3) .container-text p {
    color: var(--white-color);
    padding: 1em 0;
    line-height: 1.3em;
}

footer {
    background-color: var(--primary-color);
    color: var(--white-color);
    width: 100%;
}

footer .container-footer {
    margin: 3em;
    display: flex;
    flex-direction: column;
    text-align: start;
}

footer img {
    width: 10em;
}

footer .container-icon img {
    width: 1em;
}

footer .container-icon {
    display: flex;
}

footer .container-icon p {
    margin: 0 1em;
}

footer .footer-header {
    margin: 1.5em 0;
}

footer img {
    filter: invert(50%) sepia(0%) saturate(0) hue-rotate(0deg) brightness(500%) contrast(100%);
}

footer a {
    text-decoration: none;
    color: var(--white-color);
}

footer .footer-contacts div {
    margin: 1em 0;
}

footer .footer-nav,
footer .footer-info {
    margin: 2em 0;
    display: flex;
    flex-direction: column;
}

footer .footer-nav a,
footer .footer-info a {
    margin: 0.5em 75% 0.5em 0;
}

footer .footer-nav a:hover,
footer .footer-info a:hover {
    color: var(--bg-btn-color);
    transition: 0.2s;
}

footer .footer-social {
    display: flex;
    justify-content: center;
}

footer .footer-social a img {
    border: 1px solid var(--white-color);
    border-radius: 100%;
    width: 1em;
    height: 1em;
    margin: 0 0.3em;
    padding: 0.5em;
}

footer .footer-social a img:hover {
    filter: invert(45%) sepia(79%) saturate(6413%) hue-rotate(220deg) brightness(102%) contrast(94%);
}

@media (min-width: 1200px) {
    body {
        height: 100%;
    }

    header div {
        margin: 3em 3em 2em 3em;
    }

    section {
        margin: 0 3em;
        flex-direction: row;
    }

    section .container-img,
    section .container-content {
        width: 50%;
    }

    section .container-img {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2em;
    }

    section .container-content {
        display: flex;
        flex-direction: column;
        justify-content: center;

        text-align: start;
    }

    section .container-content h1 {
        font-family: 'Raleway', sans-serif;
        font-size: 2.5em;
    }

    section .container-content>p {
        padding: 0;
    }

    section .container-img img {
        max-width: none;
    }

    .input-group {
        flex-direction: row;
        justify-content: start;
        align-items: baseline;
        margin: 1em 0 0 0;
    }

    .input-group input {
        width: 20em;
    }
    
    .input-group button {
        width: 15em;
        margin: 0.5em;
    }

    section:nth-child(2) {
        margin: 6em 3em 9em;
    }
    
    section:nth-child(2) .container-content > p {
        padding-right: 8em;
        line-height: 1.2em;
    }

    section .container-content h2 {
        margin: 2em 0 1em;
        font-size: 2.3em;
    }

    section .container-content .container-nav {
        margin: 2em 2em 4em 0;
    }

    section article {
        margin: 1em 1.5em 7em 0.5em;
        width: 25em;
    }

    section article .card-profile {
        align-items: center;
    }

    section:nth-child(3) {
        flex-direction: row;
    }

    section:nth-child(3) .input-group,
    section:nth-child(3)>div {
        width: 50%;
    }
    
    section:nth-child(3) > div {
        text-align: start;
        margin: 5em 2em 5em 3em;
    }
    section:nth-child(3) .input-group {
        padding: 1em;
        margin: 5em 3em 5em 2em;
        flex-direction: column;
    }

    section:nth-child(3) .input-group input {
        width: 35em;
    }

    section:nth-child(3) .container-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    section:nth-child(3) .container-text h2 {
        color: var(--white-color);
        font-size: 1.5em;
        padding: 0;
    }

    section:nth-child(3) .container-text p {
        padding: 1em 8em 0 0;
    }

    footer .container-footer {
        margin: 3em 3em 6em;
    }

    footer .footer-body {
        display: flex;
        justify-content: space-between;
        margin-right: 10em;
    }

    footer .footer-nav,
    footer .footer-info {
        margin: 0;
    }

    footer .footer-nav a,
    footer .footer-info a {
        margin: 0.5em 0 0.5em 0;
    }
}